<div class="ajustes-breadcrumb mb-4">
    <p-breadcrumb [model]="itens"></p-breadcrumb>
</div>

<div class="grid grid-cols-12 gap-4 mt-15 mb-15">
        
    <div class="col-span-12 md:col-span-3 md:col-start-5">
        <div class="card mb-0">
            <div class="flex justify-between">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Saldo Geral</span>
                    @if(saldoCaixaGeral > 0){
                        <div class="text-blue-600 dark:text-surface-0 font-medium text-xl">{{ saldoCaixaGeral | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</div>
                    }@else {
                        <div class="text-red-600 dark:text-surface-0 font-medium text-xl">{{ saldoCaixaGeral | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</div>
                    }
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-eye text-blue-500 text-xl!"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<p-fluid>
    
    <div class="grid grid-cols-12 gap-4 mt-5">
        <div class="col-span-12 md:col-span-2">
            <label for="dataInicio">Data Início</label>
            <p-datepicker name="dataInicio" [(ngModel)]="dashboardfilter.dataInicio" [showIcon]="true"
            inputId="dataInicio" [showOnFocus]="false" dateFormat="dd/mm/yy" />
        </div>

        <div class="col-span-12 md:col-span-2">
            <label for="dataFim">Data Fim</label>
            <p-datepicker name="dataFim" [(ngModel)]="dashboardfilter.dataFim" [showIcon]="true"
            inputId="dataFim" [showOnFocus]="false" dateFormat="dd/mm/yy" />
        </div>
        <div class="mt-5">
            <button pButton type="submit" label="Pesquisar" class="p-button-info botao-filtro botao-menu" (click)="movimentacaoPorPeriodo()"></button>
        </div>
    </div>

</p-fluid>

<div class="grid grid-cols-12 gap-4 mt-5">
        
    <div class="col-span-12 lg:col-span-4 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Receita</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ receitaPeriodo | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-money-bill text-blue-500 text-xl!"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-12 lg:col-span-4 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Despesas Pagas</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ despesasPagaPeriodo | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-shopping-cart text-green-500 text-xl!"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-12 lg:col-span-4 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Despesas Pendentes</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ despesasPendentePeriodo | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-shopping-cart text-red-500 text-xl!"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-span-12 lg:col-span-4 xl:col-span-3">
        <div class="card mb-0">
            <div class="flex justify-between">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Saldo</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ saldoPeriodo | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</div>
                </div>
                <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    @if(saldoPeriodo > 0){
                        <i class="pi pi-check-circle text-blue-500 text-xl!"></i>
                    }@else {
                        <i class="pi pi-check-circle text-red-500 text-xl!"></i>
                    }
                </div>
            </div>
        </div>
    </div>

</div>