<form #formulario="ngForm" autocomplete="off">

    <app-menu-form [rotaListar]="rotaListar" [tipoMenu]="tipoMenu" [formulario]="formulario" (salvar)="salvar($event)"
        (excluir)="excluir()" [itemsBreadCrumb]="items">
    </app-menu-form>

    <p-fieldset legend="Dados">

        <p-fluid>

            <div class="grid grid-cols-12 gap-2">

                <div class="col-span-12 md:col-span-6"
                    [ngClass]="formularioInvalido && formulario.form.controls['descricao'].invalid? 'campoInvalido':'campoValido'">
                    <label for="descricao">Descrição<span class="text-red-600">*</span></label>
                    <input id="descricao" pInputText type="text" name="descricao" [(ngModel)]="entidade.descricao"
                        [disabled]="consulta" required minlength="3" maxlength="100">
                </div>

            </div>

        </p-fluid>

    </p-fieldset>

</form>